@charset "UTF-8";

body {
  padding-top: 3.5rem;
  background-color: #b9adff;
}

#sloth-icon {
  width: 5rem;
  height: auto;
}

@media (max-width: 1265px) {
  body {
    padding-top: 4.5rem;
  }

  .nav-item * {
    font-size: small;
  }
}
